[Unit]
Description = Mint Booking Flask App
[Service]
User = jenkins

ExecStart=/var/lib/jenkins/workspace/sfia1/script/installation.sh

[Install]
WantedBy = multi-user.target